:root {
    --text: #0e3c55;
    --background: #eee;
    --primary: #918fe4;
    --secondary: #fff;
    --accent: #d2f898;
    
    --shadow: 1px 1px 8px #5555;
    --shadow2: 1px 1px 5px #0002;   
    
}

html {
    font-size: 12px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--text);
    background-color: var(--background);
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1704319180538-f57994377412?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    flex: 2 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 150px 0 0;
}

::selection {
    color: var(--secondary);
    background-color: var(--text);
}

.cover h1 {
    font-size: 12rem;
    text-transform: uppercase;
    color: #fff0;
    -webkit-text-stroke: var(--secondary) 1px;
}

.form-section {
    flex: 3 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section form {
    width: 70%;
}

.form-section fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 32px;
    gap: 24px;
    background-color: var(--secondary);
    box-shadow: var(--shadow);
    position: relative;
}

.form-section legend {
    font-size: 3rem;
    font-variant: small-caps;
    text-transform: lowercase;
    position: absolute;
    top: -4.5rem;
    left: 0;
}

.form-section div {
    min-width: 180px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.form-section div:last-child {
    display: flex;
    gap: 8px;
}

.form-section label {
    font-weight: 100;
    letter-spacing: 1px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section input[type="password"] {
    margin-top: 6px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: var(--shadow2);
    background-color: #fafafa;
    border-radius: 0.5rem;
    padding: 0.8rem;

}

.form-section input[type="checkbox"] {
    padding: 0;
    margin: 0;
    accent-color: var(--accent);
}

button[type="submit"] {
    color: var(--text);
    background-color: var(--accent);
    border: none;
    box-shadow: var(--shadow);
    padding: 1.4rem;
    border-radius: 1rem;
    font-weight: 600;
}

button[type="submit"]:hover {
    cursor: pointer;
}

input::placeholder {
    color: #0003
}
input:focus {
    outline: none;
}

/* input[type="text"]:invalid {
} */

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="tel"]:not(:placeholder-shown):invalid,
input[type="password"]:not(:placeholder-shown):invalid {
    outline: #f004 2px solid;
}


input[type="text"]:not(:placeholder-shown):valid:focus,
input[type="email"]:not(:placeholder-shown):valid:focus,
input[type="tel"]:not(:placeholder-shown):valid:focus,
input[type="password"]:not(:placeholder-shown):valid:focus {
    outline: var(--accent) 2px solid;
}

input[type="text"]:not(:placeholder-shown):valid:not(:focus),
input[type="email"]:not(:placeholder-shown):valid:not(:focus),
input[type="tel"]:not(:placeholder-shown):valid:not(:focus),
input[type="password"]:not(:placeholder-shown):valid:not(:focus) {
    background-color: var(--accent);
}

input[type="text"]:not(:placeholder-shown):invalid:not(:focus),
input[type="email"]:not(:placeholder-shown):invalid:not(:focus),
input[type="tel"]:not(:placeholder-shown):invalid:not(:focus),
input[type="password"]:not(:placeholder-shown):invalid:not(:focus) {
    background-color: #f004;
}